@tailwind base;
@tailwind components;

.btn {
  @apply px-4 py-2 font-bold rounded text-red-500;
}

@tailwind utilities;

@layer base {
  html {
    font-family: Roboto Condensed
  }

  code {
    color: purple;
    font-size: 0.9rem;
  }
}